<h1>Editing transcript</h1>

<%= render "form", transcript: @transcript %>

<br>

<div>
  <%= link_to "Show this transcript", @transcript %> |
  <%= link_to "Back to transcripts", transcripts_path %>
</div>
